<div class="bs-docs-section">
  <div id="games-list">
  </div>
</div>

<script id="game-template">
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1>${name}</h1>
        </div>
      </div>
    </div>

    <!-- Headings -->
    <div class="row">
      <div class="col-lg-5 well">
        <img style="border: 0pt none; width: 100%;" src="${imageUrl}" alt="open source games">
      </div>
      <div class="col-lg-5">
        <span>Name : </span><a>${name}</a>
        <br />
        <span>Author : </span><a>${author}</a>
        <br />
        <span>platform : </span><a>${platform}</a>
        <br />
        <span>Link : </span><a>${linkUrl}</a>
        <br />
        <br />
        <p>${description}</p>
      </div>
    </div>
  </div>
</script>
